/*
This is a color-focused subset of the style.css for reference.
It can be either included in the theme code, or for user adaptability
added as "Additional CSS" in WordPress' theme customiser.

=====================================
        dig_mit! colours
=====================================

dig_mit mint:     #7BBE95;
dig_mit orange:   #D48028;
dig_mit blue:     #63D2E3;
dig_mit_darkblue: #25569E;
dig_mit yellow:   #FCDB67;
dig_mit red:      #F22F57;
dig_mit cheekred: #F0615D;
dig_mit lipsred:  #CB878F;

*/

/* general font and background color */
body {
	color: white;
  background-color: black;
}
a {
	color: #25569E;
}
a:hover {
  color: #F0615D;
}
a:visited {
	color: #63D2E3;
}
/* header font and background color */
body > header {
  color: black;
  background-color: lightgray;
}

/* horizontal divider between header and main body */
body > div.header-background-extension {
  height: 12px; /* set to 0px to hide it */
  background-color: #7BBE95;
  background-image:
    linear-gradient(
      lightgray,
      #7BBE95  /* dig_mit mint */
    );
}

/* footer font and background color */
body > footer {
  color: black;
  background-color: lightgray;
}

/* horizontal divider main body and footer */
body > div.footer-background-extension {
  height: 12px; /* set to 0px to hide it */
  background-color: #7BBE95;
  background-image:
    linear-gradient(
      #7BBE95,  /* dig_mit mint */
      lightgray
    );
}

/* color of the first dig_mit i in the header */
#site-title h1 a span.dashicons:first-child {
  color: #7BBE95; /* dig_mit mint */
}
/* color of the first dig_mit i in the header when hovering over it with mouse */
#site-title h1 a span.dashicons:first-child:hover {
  color: #7BBE95; /* dig_mit mint */
}
/* color of the second dig_mit i in the header */
#site-title h1 a span.dashicons {
  color: #D48028; /* dig_mit orange */
}
/* color of the second dig_mit i in the header when hovering over it with mouse */
#site-title h1 a span.dashicons:hover {
  color: #D48028; /* dig_mit orange */
}

/* main site nav buttons and main menu button */
#site-nav > div:first-child > a,
#site-nav > div:first-child > span,
#site-nav > div:first-child > label {
  color: black;  /* color of the dashicons */
  background: transparent;
  border: 1px dotted black;
}
#site-nav > div:first-child > a:hover,
#site-nav > div:first-child > span:hover,
#site-nav > div:first-child > label:hover {
	background-color: #7BBE95;
}


/* main menu items */
#main-nav-items li:last-child {
  border-bottom: 1px solid #333;
}
#main-nav-items li a {
  color: black; /* font color */
  background-color: rgb(212, 128, 40, 0.6); /* dig_mit orange with 60% opacity */
  border-top: 1px solid #333;
}
#main-nav-items li a:hover {
  background-color: rgb(123, 190, 149, 0.6); /* dig_mit mint with 60% opacity */
}

/* search form border color */
#searchsubmit {
  border: 1px solid #bbb;
}

/* secondary menu with the highlights (Deutsch/Alpha, ...)  */
#highlights-nav-items li a {
  color: black; /* font color */
  background-color: #D48028;
  border: 1px dotted black;
}
#highlights-nav-items li a:hover {
  background-color: #7BBE95;
  border: 1px dotted black;
}

/* color of the back-to-top button */
#back-to-top-button {
  color: black;
  background-color: lightgray;
  border: 1px dotted darkgray;
  opacity: 50%;
}

/* background of the back-to-top button when hovered by mouse */
#back-to-top-button:hover {
 background-color: #555;
}

/* content of posts and pages (except front page) */
article {
  color: black; /* font color */
  background-color: white;
}
/* images in pages and posts */
main figure {
  background-color: lightgray;
}
/* text color in image acptions in pages and posts */
main figure.wp-block-image figcaption {
	color: black;
}

/* link colors for image captions in pages and posts */
main figure figcaption a {
	color: black;
}
main figure figcaption a:hover {
	color: #555;
}
main figure figcaption a:visited {
	color: #555;
}
